$themecolor: rgba(0, 0, 0, 1);
html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* Toolbar area */

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}


/* Sidenav area */

md-list-item>button {
    width: 100%;
    text-align: left !important;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 0px 0px 8px 0px;
}


/* Primary content area */

#content {
    overflow: hidden;
}

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

#content .md-button.share {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 25px;
}

#content md-icon.avatar {
    margin-top: 10px;
}

#content .md-button.share>md-icon {
    fill: black;
    width: 36px;
    height: 36px;
}

md-button.menuBtn>md-icon {
    fill: white;
    width: 24px;
    height: 24px;
}

#content .md-button.share:active>md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding: 4px;
    transition: all 100ms ease-out 30ms;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}


/* Utils */

.content-wrapper {
    position: relative;
}


/* Typography support coming in 0.8.0 */

md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
}

.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}

div.loginholder {
    width: 250px;
    height: 300px;
    margin-right: 25px;
}

.zf-heartbeat {
    margin: 5px 5px 5px 10px;
}

.zf-hb-content {
    padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.zf-service-warning {
    background-color: #fcf8e3;
}

.zf-danger-text {
    color: #ab4846;
}

.zf-warning-text {
    color: #aa6708;
}

.zf-icon-spared {
    margin: 0 15px 0 0;
}

.flex-noshrink {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    box-sizing: border-box;
}

.its-menu-right {
    margin: 0 120px 0 0;
}

.its-menu-right a,
.its-menu-right a:hover,
.its-menu-right a:visited {
    color: white;
    text-decoration: none;
}

.zf-its-nav-text {
    padding-left: 5px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.listdemoListControls md-divider {
    margin-top: 0;
    margin-bottom: 0;
}

.listdemoListControls md-list {
    padding-top: 0;
}

.listdemoListControls md-list-item>p,
.listdemoListControls md-list-item>.md-list-item-inner>p,
.listdemoListControls md-list-item .md-list-item-inner>p,
.listdemoListControls md-list-item .md-list-item-inner>.md-list-item-inner>p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.ticket {
    width: 55vw;
    padding-bottom: 10px;
    border-bottom: 1px dashed $themecolor;
}

.new-ticket textarea {
    min-width: 60vw;
}

.ticket-ip-address {
    width: 250px;
}

.ticket-service {
    width: 350px;
}


/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/